/* Package.css */

.onePackage {
    width: 280px;
    margin: 10px auto;
    background-color: aliceblue;
    border: 1px solid gray;
  }
  
 
  
  /* img:hover {
    transform: scale(1.2);
  } */
  
  .title {
    font-family: fantasy;
    font-weight: bold;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
  }
  
  .admin-buttons-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    border: none;
    cursor: pointer;
    background: none;
    font-family: Optima sans-serif;
    font-weight: bold;
  }
  
  button.favorite {
    color: white;
  }
  
  button.edit {
    background-color: #348788;
    font-weight: 900;
    margin-right: 5px;
    color: white;
  }
  
  button.delete {
    background-color: #333333;
    font-weight: 900;
    color: #47fff6;
    cursor: pointer;
  }
  
  button.favorite.active {
    color: red;
  }
  